{erl_opts, [debug_info]}.
{deps, []}.

{ct_opts, [
  {sys_config, ["config/test.config"]},
  {ct_hooks, [cth_surefire]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{dist_node, [
  {name, 'stash@127.0.0.1'},
  {setcookie, stash_cookie}
]}.

{shell, [
  {config, ["config/test.config"]},
  {apps, [stash]}
]}.

{profiles, [
  {test, [
    {deps, [
      {mixer, "0.1.5", {pkg, inaka_mixer}},
      {katana, "0.4.0"},
      {katana_test, "0.1.1"}
    ]}
  ]}
]}.
